*{
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}
.container{
    margin-left: 20%;
    margin-right: 20%;
}
.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0a020a;
    color: white;
}
.menu{
    display: flex;
    column-gap: normal;
    flex-direction: row;
    gap: 0.1rem;
}
.menu > a{
   color: white;
    padding: 2.87rem 0;
}
.menu > a:hover{
    background-color: blueviolet;
}

.active{
    background-color: brown;
}
.cadastro > fieldset{
       display: flex;
       flex-direction: column;
       row-gap: 0.2rem;
       border: none;
}
.cadastro > fieldset legend{
    text-align: center;
    font-size:0.8rem;
}
.tit-img{
    text-align: center;
    font-size: 2rem;
    margin-top: 4rem;
}

.box-img{
    display: flex;
    justify-content: space-between;
}

.box-img img{
      box-shadow: 0px 0px 7px 2px red ;
}

.box-img img:hover{
    box-shadow: 0px 0px 7px 2px blue;
}