*{
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}

.container{
    margin-left: 20%;
    margin-right: 20%;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0f0303f7;
    color: #fff;
}

.menu{
    display: flex;
    column-gap: normal;
    gap: 1rem;
}

.menu > a{
    color: #fff;
    padding: 1rem 0;
}
.menu > a:hover{
    background-color: rgb(89, 7, 165);
}

.active{
    background-color: brown;
}

.cadastro > fieldset{
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;
    border: none;
}

.cadastro > fieldset legend{
    text-align: center;
    font-size: 1rem;
}

.tit-img{
    text-align: center;
    font-size: 2rem;
    margin-top: 5rem;
}

.box-img{
    display: flex;
    justify-content: space-around;
}

.box-img img{
    box-shadow: 0px 0px 10px 2px #830202;
}